ots-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: $jeopardy-blue;
  text-align: center;

  h1 {
    color: white;
    font: {
      family: $title-font;
      size: 10rem;
    }
  }

  button {
    transition: border-color 0.05s ease-out;
    color: yellow;
    font-family: $title-font-light;
    background: darken($jeopardy-blue, 10%);
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    padding: 2rem 4rem;
    border-radius: 15px;
    &:hover {
      border-color: yellow;
    }
  }
}