<!DOCTYPE html>
<html>
<head>
  <title>On The Spot!</title>
  <!-- inject:css -->
  <!-- endinject -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.css"/>

</head>
<body>

<ui-view/>

<!-- inject:js -->
<!-- endinject -->
</body>
</html>